@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProRegular';
    src: url('../fonts/SourceSansProRegular.eot');
    src: url('../fonts/SourceSansProRegular.eot') format('embedded-opentype'),
         url('../fonts/SourceSansProRegular.woff2') format('woff2'),
         url('../fonts/SourceSansProRegular.woff') format('woff'),
         url('../fonts/SourceSansProRegular.ttf') format('truetype'),
         url('../fonts/SourceSansProRegular.svg#SourceSansProRegular') format('svg');
}


@font-face {
    font-family: 'source_sans_prolight';
    src: url('../fonts/sourcesanspro-light-webfont.eot');
    src: url('../fonts/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-light-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-light-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro-light-webfont.ttf') format('truetype'),
         url('../fonts/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'SourceSansProLightIt';
    src: url('../fonts/SourceSansProLightIt.eot');
    src: url('../fonts/SourceSansProLightIt.eot') format('embedded-opentype'),
         url('../fonts/SourceSansProLightIt.woff2') format('woff2'),
         url('../fonts/SourceSansProLightIt.woff') format('woff'),
         url('../fonts/SourceSansProLightIt.ttf') format('truetype'),
         url('../fonts/SourceSansProLightIt.svg#SourceSansProLightIt') format('svg');
}
@font-face {
    font-family: 'source_sans_prolight';
    src: url('../fonts/sourcesanspro-light-webfont.eot');
    src: url('../fonts/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-light-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-light-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro-light-webfont.ttf') format('truetype'),
         url('../fonts/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProExtraLight';
    src: url('../fonts/sourcesanspro-extralight.eot');
    src: url('../fonts/sourcesanspro-extralight.eot') format('embedded-opentype'),
         url('../fonts/sourcesanspro-extralight.woff2') format('woff2'),
         url('../fonts/sourcesanspro-extralight.woff') format('woff'),
         url('../fonts/sourcesanspro-extralight.ttf') format('truetype'),
         url('../fonts/sourcesanspro-extralight.svg#SourceSansProExtraLight') format('svg');
}

@font-face {
    font-family: 'roboto_slabbold';
    src: url('../fonts/RobotoSlab-Bold-webfont.eot');
    src: url('../fonts/RobotoSlab-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoSlab-Bold-webfont.woff') format('woff'),
         url('../fonts/RobotoSlab-Bold-webfont.ttf') format('truetype'),
         url('../fonts/RobotoSlab-Bold-webfont.svg#roboto_slabbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-light-webfont.eot');
    src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/lato-light-webfont.woff') format('woff'),
         url('../fonts/lato-light-webfont.ttf') format('truetype'),
         url('../fonts/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
 
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body{
    margin: 0;
    font-family: 'open_sansregular';
}

#header{
    width: 100%;
    float: left;
}
.header_top{
    background: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    display: block;
    height: 30px;
    font-size: 1.2em;
    text-decoration: none;
}
.headertop_left{
    width: 40%;
    float: left;
    font-size: 21px;
    margin-left: 96px;
    margin-top: 4px;
}
.headertop_left a{
    text-decoration: none;
}
.headertop_right{
    float: right;
    font-size: 14px;
    margin: 0;
    font-family: sans-serif;
    
}
.top_right_links{
    text-decoration:none;
    float: left;
    padding: 7px;
    color: rgb(27,27,27);
    border-right: 1px solid #ddd;
}
.size_change a{
    float: left;
    text-decoration: none;
    color: rgb(27,27,27);
    padding: 7px;
}
.color_change a{
    text-decoration: none;
    color: rgb(27,27,27);
    float: left;    
    background: #ffff;
    border-right: 1px solid #ddd;
    padding: 7px 4px 6px;
}
.color_change a.bg_black{
    background: #000;
    color: #ffff;
}
.change_lang{
    margin-right: 100px;
    float: left;
    background: orange;
    color: #ffff;
    line-height: 29px;
    font-size: 12px;
    padding: 0px 6px 0px 5px;
}
.header_middle {
    float: left;
    width: 100%;
    padding: 5px 0;
}
.wrapper {
    max-width: 89%;
    display: block;
    margin: 0 auto!important;
}
#logo {
    /*float: left;*/
    margin: 0 0 1px;
    display: inline-block;
}
a {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    color: rgb(27,27,27);
}
img {
    width: auto;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}
.header_middle .wrapper nav{
    display: inline;
}
.header_middle .wrapper nav ul li {
   /* float: left;*/
    display: inline-block;
    /*min-height: 92px;*/
}
nav a {
    float: left;
    text-align: center;
    width: 125px;
    min-height: 92px;
    color: #fff;
}
a {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    color: rgb(27,27,27);
}
nav span {
    color: #828282;
    float: left;
    font-size: 85%;
    font-weight: normal;
    margin: 5px 0 0;
    text-transform: uppercase;
    width: 100%;
}
nav ul {
   /* list-style: none;*/
    display: inline;
}
.header_middle .wrapper nav {
    display: inline;
}


#logopic {
	margin: 0px;
	padding: 0px;
    display: inline-block;
}

.navbar {
	font-size: 1em;
	text-align: center;
	font-family: 'open_sansregular';    
   
}
.navbar li {
   display: inline-block;
}

.header_middle .wrapper nav{
    display: inline;    
    vertical-align: middle;
    float: right;
    margin: 4px 0 0;
}

.header_middle .wrapper nav ul li img {
    background: url(images/naviconn.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 0;
    padding: 8px 6px 10px 8px;
    transition: background 0.7s ease 0s;
}
.header_middle .wrapper nav ul li a.active img {
    background: url(images/naviconblue.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 0;
    padding: 8px 7px 10px 8px;
    transition: background 0.7s ease 0s;
}
.header_bottom{
    background: url(images/bg-noise.png) repeat scroll 0 0;
    float: left;
    width: 100%;
    position: relative;
    color: #fff;
}

.most_search{
    float: left;
    padding-top: 1.3%;
    margin: 0 0 0 3%;
    font-family: sans-serif;   
    width: 45% 
    }
    .most_search h2{
        display: inline-block;
        float: left;
        margin: 0 5px 0 0;
        width: 95px;
        line-height: 125%;
        font-size: 85%;
        text-transform: uppercase;
        letter-spacing: 0.7px;
        }
.navbar {
    font-size: 86%;
    text-align: center;
    font-family: sans-serif;
    display: inline;
    vertical-align:top;
    }
.navbar li {
    display: inline-block;
    }
    

/* li.most_search_link{
    padding-right: 2%;
} */
li.most_search_link a{
    color: #fff;
    padding-right: 1%;
}
li.most_search_link{
    width: 21%;
    padding-top: 1.4%;
    border-right: 1px solid;    
}
li.last_link{
    border-right: 0px ;
    margin-left: -3%;
}
.searchform_box{
    float: left;
    width: 100%;
    padding: 3px;
    background: #5996d9;
    height: 46px;
    margin-top: 1%;
    position: relative;
    display: flex;
}
  .search_sec{
    float: left;
    width: 50%;
    height: 67px;
    line-height: 64px;
    margin: 0;
}
.search {
    width: 100%;
    position: relative;
    display: flex;
    margin-top: 1.3%
  }
  
  .searchTerm {
    width: 46%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 26px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
    background: #e1e1d5cc;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    width: 80px;
    height: 40px;
    border: 1px solid #00B4CC;
    background: #ee8a21;
    text-align: center;
    color: #fff;    
    cursor: pointer;
    font-size: 15px;
    margin-top: 0.1%;
  }
  .serch_adv{
    float: left;
    line-height: 31px;
    width: 100%;
    background: #5996d9;
    padding: 4px;
  }
  a#advsearch_link {
    background: url(images/advarrowup-wh.png) no-repeat scroll 91% 50% #5996d9;
    float: right;
    font-size: 15px;
    line-height: 150%;
    margin: 0;
    padding: 8px 27px 8px 12px;
    text-decoration: none;
    text-transform: capitalize;
    color: #FFF;
    font-family: 'sans-serif';
  }
  a#advsearch_link:hover {
    background: url(images/advarrowup-wh.png) no-repeat scroll 91% 50% #538dcc;
}
.advsearch_link {
    font-family: sans-serif ;
}
.slider_sec{
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}
.main_body{
    width: 100%;
    margin: 0;
    float: left;
}
.main_sec{
    width: 100%;    
    float: left;
    padding-top: 2%;
    font-family: sans-serif;
    margin-bottom: 3%;
}
.main_sec .main_pannels{
    display: inline-block;

}
.main_sec .pannel1{
float: left;
width: 35%;
margin-left: 6%;
}
.main_sec .pannel2{
    float: left;
    width: 33%;
}
.main_sec .panel3{
    float: left;
    width: 14.4%;
    margin-left: 0.4%;
    /* color: #5996d9; */
    /* border: 1px solid #5996d9; */
}
.pannel_head1_box{
    float: left;
    width: 100%;    
    margin: 0 0 3%;    
    padding-bottom: 4%
}
.pannel_head1{
    float: left;
    width: 100%;
    border-bottom: 3px solid #cfcdcc;
    padding-left: 1%;
}
.pannel_head1 h2{
    margin: 0;
    font-size: 17px;
    text-align: center;
}
.main_pannels .pannel_block1 .block_head1 a{
    background: rgb(142, 141, 141) url(images/TABARROW.png) no-repeat scroll 21px 26px;
    background-color: #828282;
    border-bottom: none;
    color: #fff;
    cursor: default;
    z-index: 2;
    line-height: normal;
    padding: 7px 10px;    
}
.pnblock1{
    margin-top: 1.5%;
    float: left;
    width: 100%;
    padding: 2% 0 0 0;
    border: 1px solid #cfcdcc;
}
.block1_content{
    width: 100%;
    
}
.block1_content ul{
    list-style-type: none;
    margin-left: -5%;
}
.block1_content ul li{
    background: url(images/arrow.jpg) no-repeat scroll left 4px rgba(0, 0, 0, 0);
    display: block;
    line-height: 19px;
    margin: 0 0 10px;
    padding: 0 0 0 19px;
    width: 100%;
    font-size: 14px;
    box-sizing: border-box;
}
.block_footer a{
    padding: 3px;
    border: 1px solid #5996d9;
    display: inline-block;    
    font-size: 11px;
}
.block_footer{
    text-align: right;
    padding:0 10px 10px 10px ;
}
.main_pannels {
    /* padding:0 2% 2% 0; */
    /* width: 100%; */
    float: left;
    margin-right: 2.5%;
}
.pannel2 .block_head2 h2{
    background: none repeat scroll 0 0 #e5e5e5;
    border-bottom: 1px solid #cfcfcf;
    color: #212121;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 28px;
    line-height: 30px;    
    padding: 0 0 0 10px;
    float: left;
    width: 100%;
    margin-top: -2%
}
.block_head2 .blkhead2 a{
    background: url(images/topicicon.png) no-repeat scroll 7px 6px #e5e5e5;
    box-sizing: border-box;
    padding: 0 0 0 32px;
}
.block_head2 .blkhead2 span.blkhead_minus{
    background: rgb(86,86,86);
    color: #fff;
    font-size: 18px;
    padding: 0;
    text-align: center;
    height: 29px;
    width: 28px;
    float: right;
}
.pnblock2{
    margin-top: -3%;
    float: left;
    width: 100%;
    padding: 0% 2% 0 0;
    border: 1px solid #cfcdcc;
}
.pnblock3{
    margin-top: 2%;
    float: left;
    width: 100%;
    padding: 0% 2% 0 0;
    font-size: 14px
}
.pnblk3_one{
    float: left;
    width: 100%;
    height: auto;
    border: 1px solid #cfcdcc;
}
.pnblock3 .pnblk3_one .pnblk3_link{
    display: block;
    width: 100%;
}
.pnblk3_one p{
    width:99% ;
    /* color: #00B4CC; */
}
.pnblk3_sec1 img{
    display: block;
    width: 100%;
}
.pnblk3_sec1{
    padding: 2px 3px 2px 2px;
}
.pnblk3_sec2{
    width: 100%;
    margin: -9px 0% -7px 3%;
    padding: 0;
}
.main_sec_bluerow{
    background: rgba(0, 0, 0, 0) url(images/bg-noise.png) repeat scroll 0 0;
    clear: both;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.main_sec_bluerow .innerblk_blue{
    display: block;
    margin: 0 auto;
    max-width: 87%;
    width: 87%;
}
.bluerow_sec1{
    float: left !important;
    margin: 0px 0 0;
    width: 40%;
    clear: none;
    /* background: url(images/bluebtmarrow.png) no-repeat scroll 49px -3px rgba(0, 0, 0, 0); */
    border-right: 1px solid #287ed9;
    padding: 0px 20px 30px 0;
    box-sizing: border-box;
    min-height: 366px
}
.bluesec1_head{
    clear: both;
    overflow: hidden;
    font-family:Georgia
    font-size: 130%;
    line-height: 150%;
    color: #FFF;
}
.bluesec1_head h3{
    color: #FFF;
    font-weight: normal;
    font-size: 220%;    
    font-weight: 700;
    margin-bottom: 0;
    display: block;
    clear: both;
    padding-bottom: 2%;
}
.bluesec1_head span.sub_head{
    font-family:'Lucida Sans';
    font-size: 125%;
    color: #FFF;
    line-height: 170%;
    font-weight: 400;
    margin-bottom: 14px;
    display: block;
}
.icon_content{
    display: block;
    line-height: normal;
    font-family:sans-serif;
    font-size: 75%;
    
}
.icon_content.icon1 a{
    background: url(images/do-nw.jpg) no-repeat 0 1px;
}
.icon_content.icon2 a{
    background: url(images/discuss-nw.jpg) no-repeat 0 1px;
}
.icon_content.icon3 a{
    background: url(images/poll-nw.jpg) no-repeat 0 1px;
}
.icon_content.icon4 a{
    background: url(images/talk-nw.jpg) no-repeat 0 1px;
}

.icon_content.icon1 a span{
    padding-top: 0;
    min-height: 36px;
    display: block;
}
.icon_content.icon2 a span{
    padding-top: 0;
    min-height: 36px;
    display: block;
}
.icon_content.icon3 a span{
    padding-top: 0;
    min-height: 36px;
    display: block;
}
.icon_content.icon4 a span{
    padding-top: 0;
    min-height: 36px;
    display: block;
}
.bluesec1_icons .icon_content a{
    color: #FFF;
    font-size: 135%;
}
.bluesec1_icons .icon_content a{
    display: block;
    padding: 0 0 0 130px;
    margin-bottom: 12px;
    line-height: 17px;
}

.bluesec1_icons{
    font-family: ;
}
.bluerow_sec2{
    float: left !important;
    margin: 0 0 0 2.5%;
    width: 40%;
    clear: none;
    border-right: 1px solid #287ed9;
    padding: 0px 30px 30px 5px;
    box-sizing: border-box;
    min-height: 366px;
}
.bluerow_sec2_inner{
    display: block;
    margin: 0 auto;
    max-width: 1180px;
    width: 100%;
}
.sec2_header{
    float: left;
    width: 100%;
}
.sec2_heading{
    padding: 5px 0 0;
    clear: both;
    overflow: hidden;
    font-family: Georgia;
    font-size: 130%;
    line-height: 150%;
    color: #FFF;
}
.list_content{
    float: left;
    width: 100%;
    margin-bottom: -1%;
    color: #fff;
}
.list_content ul li a{
    display: inline-block;
    font-weight: normal;
    /* padding: 0 !important; */
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
}
.list_content ul{
    list-style-type: none;
    padding: 0;
}
.list_content ul li a span{
    background: rgba(0, 0, 0, 0) url(images/bullet-white.png) no-repeat scroll 0 7px;
    display: block;
    padding: 0 0 0 20px;
    min-height: 41px;
    /* color: #cfcfcf; */
}
.list_footer{
    float: left;
    display: block;   
}
.list_footer a{
    font-family: sans-serif;
    font-size: 80%;
    width: 116%;
    /* display: inline-block; */
    margin: 0% 0 0;
    float: left;
    color: #fff;
    border: 1px solid #4e9ff0;
    padding: 13% 0% 13% 21%
}
.sec2list2_content{
    float: left;
    width: 100%;
    margin-top: 4%;
}
.sec2_btmcontent{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sec2_btmcontent li{
    display: inline-block;
    padding-right: 20px;
    color: #ddd;
}
.sec2_btmcontent li a{
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
    padding-right: 20px;
}
.bluerow_sec3{
    width: 15%;
    float: left;
}
.bluerow_sec3_inner{    
    width: 100%;
    float: left;
    display: block;
    text-align: left;
    padding: 23% 0% 10% 22%;
}
.bluerow_sec3 .bluerow_sec3_inner a{
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}
.bluerow_sec3_inner a.feedback{
    background: rgba(0, 0, 0, 0) url(images/icon-feedback.png) no-repeat scroll 0 50%;
    color: #fff;
}
.bluerow_sec3_inner a.contact{
    background: rgba(0, 0, 0, 0) url(images/icon-contact.png) no-repeat scroll 0 50%;
    color: #fff;
}
.bluerow_sec3_inner a.share{
    background: rgba(0, 0, 0, 0) url(images/icon-share.png) no-repeat scroll 0 50%;
    color: #fff;
}
.social_icon{
    float: left;
    display: block;
    padding-left: 25%;
}
.social_icon a.fb{
    background: rgba(0, 0, 0, 0) url(images/icon-facebook.png) no-repeat scroll 0 50%;
    color: #fff;
}
.social_icon a.twitter{
    background: rgba(0, 0, 0, 0) url(images/icon-twitter.png) no-repeat scroll 0 50%;
    color: #fff;
}
.bluerow_sec3_inner .social_icon a{
    padding-left: 55%;
    padding-top: 12%;
}
.main_sec_homelinks{
    float: left;
    width: 100%;    
}
.homlinks{
    float: left;
    width: 100%;
    margin: 0 0 30px;
    padding: 36px 0 0;
}
.homlinks ul{
    list-style-type: none;
}
.homlinks ul li{
    display: inline-block;
    text-align: center;
    width: 17%;
    padding-left: 2%;
}
.homlinks ul li .links_content h2{
    font-size: 20px;
    border-bottom: 1px solid #cfcdcc;
    padding: 0 0 3%;
    margin: 0 0 -3%;
}
.homlinks ul li .links_content p{
    color: #474545b7;
    font-family: sans-serif;
    font-size: 14px;
}
.footer{
    float: left;
    width: 100%;
    background: #000;
    display: block;
}
.footer .footer_first{
    background: #4c4c4c;
    width: 100%;
    padding: 0.5% 0;
    float: left;
}
.ftmenu{
    float:left;
    width: 100%;    
}
.ftmenu ul{    
    list-style-type: none;    
    margin: 0;
    padding-left: 0;
}
.footer_first .ftmenu ul li{
    display: inline-block;
    width: auto;
    border-right: 1px solid #000;
    text-align: center;
    padding: 0 1% 0 1%;
}
.footer_first .ftmenu ul li a{
    color:rgb(255,255,255);
    font-family: sans-serif;
    font-size: 87%;
}
.footer_first .ftmenu ul li.menulastitem{
    border-right: 0px;
}
.footer_main{
    float: left;
    width: 100%;
    margin-bottom: 1.5%;
}
.footer_main_content{
    float: left;
    width: 100%;
    /* margin-bottom: 1% */
}
.footer_links{
    float: left;
    width: 76%;
    margin-left: 0px;
    padding-left: 0px;
}
.footer_last_col{
    float: right;
    width: 24%;
    margin-top: 5%;
}
.footer_main ul{
    list-style-type: none;
    padding-left: 0px;
}
.footer_main .footer_links ul li.links_first{
    float: left;
    display: inline-block;
    width: 56%;
    padding: 0;
    margin: 0;
}
.footer_links ul li.links_first a.links_first_head{
    color: #fff;
    float: left;
    width: 100%;
    margin: 9px 0 22px 0;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'roboto_slabbold';
}
.footer_links ul li.links_first ul li {
    float: left;
    width: 50%;
}
footer .footer_main ul li a{
    color: rgb(185,185,185);
    font-size: 0.93em;
    font-family: sans-serif;
    line-height: 24px;
}
footer .footer_main_content ul li.govli{
    display: inline-block;
    width: 22%;
    float: left;
    padding: 0px;
    margin: 0 0 5px
}
footer .footer_main_content .footer_links ul li a.gov{
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    margin: 9px 0 22px 0;
    width: 100%;
    float: left;
    font-family: 'roboto_slabbold';
}
footer .footer_main_content .footer_links ul li.govli ul li{
    width: 100%;
    float: left;
}
.footer_last_col a{
    margin: 0 0 10px 0;
    float: left;
}
.footer_last_sec{
    float: left;
    width: 100%;
}
.footerlst_content{
    float: left;
    width: 100%;
    margin: 20px 0 10px;
    padding: 0px;
    color: rgb(185, 185, 185);
    font-size: 1em;
    text-align: center;
}
.footerlstblock{
    display: flex;
    align-items: center;
    align-content: space-around;
    flex-wrap: nowrap;
}
.footer .footerlst_content a{    
    color: #fda103;
}
.footerlst_content p{
    float: left;
    line-height: 16px;
    margin: 0 0 0 10px;
    width: 94%;
    text-align: left;
}
.footerlst_content .last_review{
    float: none;
    margin: 20px auto 0;
    display: inline-block;
    color: #B9B9B9;
}